@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rotate-border-colors {
  0% {
    border-color: purple;
  }

  33% {
    border-color: black;
  }

  66% {
    border-color: darkblue;
  }

  100% {
    border-color: purple;
  }
}

.NomeAluno {
  cursor: default;
}

.CartaoFinal {
  width: 300px;
  height: 300px;
  border-radius: 100px;
  border-width: 5px;
  border-style: solid;
  border-color: purple;
  animation: rotate-border-colors 4s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  background: #222;
  /* Fundo da div */
}

.TituloQuiz {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 48px;
  cursor: default;
}

/*Rodapé do Programa*/
.RodapeFinal {
  margin-top: 50px;
  display: flex;
  color: white;
  cursor: default;
  height: 250px;
  justify-content: center;
  align-items: center;
}

.radio-buttons {
  text-align: start;
  margin-left: 50px;
  margin-right: 25px;
}

@media (min-width: 1451px) {
  body {
    margin: 0;
    background: linear-gradient(to top, #000000, rgb(140, 0, 255));
  }

  .CartaoFinal {
    margin: 25px;
  }


  .PerguntaDoCartao {
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 25px;
    font-weight: bold;
  }


  /*Divs da Tela Inicial*/
  .TelaInicial {
    margin-bottom: 50px;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    color: white;
    text-shadow: 2px 2px 2px black;
    align-items: center;
    display: grid;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background:
      linear-gradient(to top, #6300b3, rgba(0, 0, 0, 0.5)),
      url("../img/FundoBTS.jpg");
    background-size: cover;
    background-position: center;
  }

  /*Divs de Centralização das Perguntas*/
  .DivQuiz {
    display: grid;
    justify-content: center;
    place-items: center;
  }

  .CentroDeBaixo,
  .CentroDoMeio,
  .CentroDeCima {
    display: flex;
  }


  .PerfilAlunos {
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    cursor: default;
  }

  .CartaoAluno {
    display: flex;
    box-shadow: 2px 2px 2px black;
    margin: 15px;
    background-color: #222;
    width: 300px;
    height: 150px;
    align-items: center;
  }

  .CartaoAluno img {
    margin-left: 25px;
    height: 100px;
  }

  .NomeAluno {
    margin-left: 25px;
    font-size: 12px;
    font-style: italic;
  }
}

@media (max-width: 1450px) {
  .RodapeFinal {
    width: 113%;
    text-align: center;
  }
  .RodapeFinal h1 {
    margin-left: 50px;
  }

  .CartaoFinal {
    margin: 25px;
  }

  body {
    margin: 0;
    background: linear-gradient(to top, #000000, rgb(140, 0, 255));
  }
  .PerguntaDoCartao {
    font-family: "Indie Flower", cursive;
    font-size: 48px;
    margin-left: 50px;
    margin-right: 25px;
    font-weight: bold;
  }

  /*Divs da Tela Inicial*/
  .TelaInicial {
    margin-bottom: 50px;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px black;
    align-items: center;
    display: grid;
    justify-content: center;
    height: 100vh;
    width: 110vw;
    background:
      linear-gradient(to top, #6300b3, rgba(0, 0, 0, 0.5)),
      url("../img/FundoBTS.jpg");
    background-size: cover;
    background-position: center;
  }

  .DivQuiz {
    width: 113%;
    place-items: center;
    display: grid;
    margin-bottom: 50px;
  }

  .CentroDeBaixo,
  .CentroDoMeio,
  .CentroDeCima {
    justify-content: center;
    align-items: center;
    display: grid;
  }

  .PerfilAlunos {
    display: flex;
  }

  .CartaoAluno {
    color: white;
    display: flex;
    box-shadow: 2px 2px 2px black;
    margin: 15px;
    width: 500px;
    height: 200px;
    align-items: center;
    background-color: #222;
  }

  .CartaoAluno img {
    margin-left: 25px;
    height: 150px;
  }

  .NomeAluno {
    margin-left: 25px;
    font-size: 20px;
    font-style: italic;
  }
}